*
.gitignore

!*/

!src/main/java/io/github/vkgsim/controller/**

!src/main/java/io/github/vkgsim/Application.java

!src/main/resources/**

!src/test/java/io/github/vkgsim/controller/**
!src/test/resources/**
src/test/resources/ontop-cli/**

!mvnw
!mvnw.cmd
!pom.xml

!libs/library.jar

!ontop-cli/**
ontop-cli/logback.xml
ontop-cli/log/**

ontop-cli/jdbc/h2-1.4.196.jar

# Ignore JetBrains project settings
.idea/
.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/*