<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>VKGSim</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="background-image" id="queryPage">
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 sidebar">
            <h2>VKGSim</h2>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="mainPage">User Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mappingPage">Mapping Section</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="queryPage">Query Section</a>
                </li>
            </ul>
        </nav>

        <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
            <div id="querySection" class="container mt-5 py-3 ">
                <h3 class="text-center py-3 px-3" style="color: black;">Query Section</h3>
                <div class="checkbox-container">
                    <label class="checkbox-label" for="standardQuery">
                        <input checked id="standardQuery" name="queryType" type="checkbox" value="standard">
                        Standard Query
                    </label>
                    <br>
                    <label class="checkbox-label" for="similarityQuery">
                        <input id="similarityQuery" name="queryType" onclick="SimilarityMode()" type="checkbox" value="similarity">
                        Similarity Query (Advanced Feature)
                    </label>
                </div>
                <div class="slider-container" id="slider-container">
                    <label class="slider-label" for="similarityThreshold">Similarity Threshold:</label>
                    <output class="slider-value" id="sliderValue">0.5</output>
                    <input class="slider" id="similarityThreshold" max="1.0" min="0.0" name="similarityThreshold" oninput="updateSliderValue(this.value)" step="0.01" type="range" value="0.5">
                </div>
                <div class="mb-3 input-group py-5 px-5">
                    <input class="form-control" id="sparqlQuery" name="sparqlQuery" placeholder="Enter SPARQL Query" type="text">
                    <button class="btn btn-primary" onclick="sendQuery()" type="button">Send Query</button>
                </div>
                <div class="mb-3 py-5 px-5" id="sparqlResult">
                    <textarea class="form-control" disabled id="sparql-Result" name="sparqlResult" style="height: 300px"></textarea>
                </div>
            </div>
        </main>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- JavaScript for functionality -->
<script src="/css/script.js"></script>
</body>
</html>
